<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">

	<!-- https://github.com/NLog/NLog/wiki/Layout-Renderers -->
	<!-- https://github.com/NLog/NLog/wiki/Configuration-file#log-levels -->

	<!-- https://github.com/NLog/NLog.Web/wiki/Getting-started-with-ASP.NET-Core-2 -->
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
    <targets async="true">

		<target name="globalFile" xsi:type="File" fileName="logs/GlobalLog.txt" keepFileOpen="true" cleanupFileName="false" autoFlush="false" openFileFlushTimeout="2"
		layout="[${longdate}] [${level:uppercase=true}] [${mdlc:item=RequestId}] [${callsite}:${callsite-linenumber}]: ${message}${onexception:inner= ${exception:format=ToString,Data,StackTrace}}" />

		<target name="microsoftFile" xsi:type="File" fileName="logs/MicrosoftLog.txt" keepFileOpen="true" cleanupFileName="false" autoFlush="false" openFileFlushTimeout="2"
		layout="[${longdate}] [${level:uppercase=true}] [${mdlc:item=RequestId}] [${callsite}:${callsite-linenumber}]: ${message}${onexception:inner= ${exception:format=ToString,Data,StackTrace}}" />

		<target name="file" xsi:type="File" fileName="logs/RestServerLog.txt" keepFileOpen="true" cleanupFileName="false" autoFlush="false" openFileFlushTimeout="2"
		layout="[${longdate}] [${level:uppercase=true}] [${mdlc:item=RequestId}] [${callsite}:${callsite-linenumber}]: ${message}${onexception:inner= ${exception:format=ToString,Data,StackTrace}}" />

		<target name="console" layout="[${level:uppercase=true}] ${message}" detectConsoleAvailable="true" xsi:type="ColoredConsole"/>
    
	</targets>

    <rules>

		<!-- For detailed info on everything while booting up the application. Useful. -->
		<!-- Will get removed by FmShell, expected behavior. -->
		<logger name="*" writeTo="console"/>

		<!-- Write everything to the global file.
			 This is the go-to file when things are BAD, or when logs aren't clogged. -->
		<logger name="*" writeTo="globalFile"/>

		<!-- Microsoft Logs, usually server-related -->
		<logger name="Microsoft.*" writeTo="microsoftFile" />

		<!-- RestServer logs -->
		<logger name="RestServer.*" writeTo="file"/>
		
		<!-- Radio logs -->
		<logger name="LiterCast.*" writeTo="file"/>

	</rules>

</nlog>