<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">

	<!-- https://github.com/NLog/NLog/wiki/Layout-Renderers -->
	<!-- https://github.com/NLog/NLog/wiki/Configuration-file#log-levels -->

	<!-- https://github.com/NLog/NLog.Web/wiki/Getting-started-with-ASP.NET-Core-2 -->
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
    <targets async="true">

		<target name="globalFile" xsi:type="File" fileName="logs/GlobalLog.txt"
		layout="[${longdate}] [${level:uppercase=true}] [${mdlc:item=RequestId}] [${callsite}:${callsite-linenumber}]: ${message}" />

		<target name="globalFileError" xsi:type="File" fileName="logs/GlobalLog.txt"
		layout="[${longdate}] [${level:uppercase=true}] [${mdlc:item=RequestId}] [${callsite}:${callsite-linenumber}]: ${message} Exception: ${exception:format=ToString,Data,StackTrace}" />

		<target name="microsoftFile" xsi:type="File" fileName="logs/MicrosoftLog.txt"
		layout="[${longdate}] [${level:uppercase=true}] [${mdlc:item=RequestId}] [${callsite}:${callsite-linenumber}]: ${message}" />

		<target name="microsoftFileError" xsi:type="File" fileName="logs/MicrosoftLog.txt"
		layout="[${longdate}] [${level:uppercase=true}] [${mdlc:item=RequestId}] [${callsite}:${callsite-linenumber}]: ${message} Exception: ${exception:format=ToString,Data,StackTrace}" />

		<target name="file" xsi:type="File" fileName="logs/RestServerLog.txt"
		layout="[${longdate}] [${level:uppercase=true}] [${mdlc:item=RequestId}] [${callsite}:${callsite-linenumber}]: ${message}" />

		<target name="fileError" xsi:type="File" fileName="logs/RestServerLog.txt"
		layout="[${longdate}] [${level:uppercase=true}] [${mdlc:item=RequestId}] [${callsite}:${callsite-linenumber}]: ${message} Exception: ${exception:format=ToString,Data,StackTrace}" />
        
		<target name="console" layout="[${level:uppercase=true}] ${message}" detectConsoleAvailable="true" xsi:type="ColoredConsole"/>
    
	</targets>

    <rules>

		<!-- For detailed info on everything while booting up the application. Useful. -->
		<!-- Will get removed by FmShell, expected behavior. -->
		<logger name="*" minlevel="TRACE" writeTo="console"/>

		<!-- Write everything. This is the go-to file when things are BAD, or when logs aren't clogged. -->
		<logger name="*" minLevel="WARN" writeTo="globalFileError"/>
		<logger name="*" maxLevel="INFO" writeTo="globalFile"/>

		<!-- Direct the Microsoft logs that are critical -->
		<logger name="Microsoft.*" minLevel="WARN" writeTo="microsoftFileError" />
		<!-- Write all other microsoft logs -->
		<logger name="Microsoft.*" maxLevel="INFO" writeTo="microsoftFile" />

		<!-- Write our errors -->
		<logger name="RestServer.*" minlevel="WARN" writeTo="fileError"/>
		<!-- Write everything else of ours -->
		<logger name="RestServer.*" maxLevel="INFO" writeTo="file"/>

	</rules>

</nlog>